<% provide(:title, "Posts Index") %>
<% provide(:intro, "全ての投稿を閲覧できます") %>
<% @posts.each do |post| %>
  <div >
    <div class="d-flex">
      <img src="<%= "/user_images/#{post.user.image_name}" %>" class="index_image">
      <h4 class="post_title"><%= link_to(post.content, "/posts/#{post.id}") %></h4> 
    </div>
  </div>
  <hr/>
<% end %>
