.air-box{
  height: 75px; 
}

.profile_image{
  width:200px;
  height: 200px;
  border-radius: 50%;
}

.index_image{
  width:100px;
  height:100px;
  border-radius: 50%;
}

.post_title{
  line-height:100px;
  margin-left: 10px;
}

.show-post-title{
  line-hegiht: 250px;
  margin-left: 30px;
}
